<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>NeuroFiles - HOVs</title>
        {% endblock %}
    </head>
    <body>
        <!-- Navigation Bar -->
        {% from 'bootstrap/nav.html' import render_nav_item %}

        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">NeuroFiles</a>
            <a class="nav-link" href="/">Projects (Admin)</a><
            <a class="nav-link" href="/project/new">New Project (Admin)</a>

        </nav>  

        {% from 'bootstrap/utils.html' import render_messages %}
        {{ render_messages() }}

        <!-- Your page content -->
        {% block content %}
        <h1>NeuroFiles - HOV Lookup</h1>
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>