{% extends "base.html" %}

{% block content %}


<div class="container">
<h1>Imported Projects</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">pid</th>
            <th scope="col">title</th>
            <th scope="col">Instruments</th>
            <th scope="col">Variables</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td><a href="{{ url_for('show_project', pid=project.pid) }}">{{ project.pid }}</a></td>
            <td>{{ project.project_title }}</td>
            <td>{{ project.instruments | length }}</td>
            <td>{{ project.variables | length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div class="container">
<h1>Templates</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Label</th>
            <th scope="col">HOVs</th>
            <th scope="col">Projects</th>
        </tr>
    </thead>
    <tbody>
        {% for template in templates %}
        <tr>
            <td><a href="{{ url_for('show_template', template_name = template.template_name) }}">{{ template.template_name }}</a></td>
            <td>{{ template.template_label }}</td>
            <td>{{ template.hovs | length }}</td>
            <td>{{ template.projects | length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

{% endblock %}