{% extends "base.html" %}

{% block content %}

<div class="container">
<form method="post" action="{{ url_for('new_project') }}">
        <label for="apitoken">Paste API here to add a project</label>
        <input type="text" placeholder="API Token" id="apitoken" name="api_token">
        <button type="submit" class="btn btn-secondary">Add Project</button>
</form>
</div>

<div class="container">
<h1>Imported Projects</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">pid</th>
            <th scope="col">title</th>
            <th scope="col">Instruments</th>
            <th scope="col">Variables</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td><a href="{{ url_for('show_project', pid=project.project_id) }}">{{ project.project_id }}</a></td>
            <td>{{ project.project_title }}</td>
            <td>{{ project.instruments | length }}</td>
            <td>{{ project.variables | length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>


{% endblock %}