{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="container">
        <h2>{{project.project_title}} <small><mark>pid {{project.pid}}</mark></small></h2>
        <p>API Token used: <mark>{{project.api_token | truncate(12,False,"****")}}</mark></p>
        <p>Is longitudinal? <mark>{{"yes" if project.is_longitudinal else "no"}}</mark></p>
        <p>Has repeating instruments or events? <mark>{{"yes" if project.has_repeating_instruments_or_events else "no"}}</mark></p>
        <p>Surveys enabled? <mark>{{"yes" if project.surveys_enabled}}</mark></p>
        <p>Instruments: {{ project.instruments|length }}; Variables: {{ project.variables|length }}</p>
    </div>
    <div class="container" id="accordion">
        {% for myinstrument in project.instruments %}
        <div class="card">
            <div class="card-header" id="heading_1">
                <button class="btn btn-link" data-toggle="collapse" data-target="#instrument_{{loop.index}}">{{myinstrument.instrument_label}}</button>
            </div>
            <div class="collapse" id="instrument_{{loop.index}}">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for myvariable in myinstrument.variables %}
                        <li class="list-group-item">{{myvariable.field_name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</div>

{% endblock %}